@layer components {
  .alert {
    padding: 0.875rem 1.25rem;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-borde);
    background-color: var(--bg-surface);
    color: var(--text-surface);
  }

  .alert-accent {
    border-color: var(--color-acento);
    background-color: light-dark(rgba(0, 135, 90, 0.1), rgba(0, 250, 154, 0.1));
  }
}
